/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以上是CSS Reset*/


body{
	font-family: Arial;
}


.wrap{
	width:  940px;
	height: 1250px;
	margin: 0 auto;
}

.decBar{
	width:  100%;
	height: 5px;
	background: #292929;
}

.card{
	width: 60px;
	height: 5px;
	float: left;
}



.header{
	height: 90px;
	margin: 25px 20px;
}

.logo{
	float: left;
	width: 25%;

}

.function{
	float: left;
	width: 75%;
	height: 80px;
	position:relative;
}

.social{
	width: 8%;
	height: 33%;
	vertical-align:top;
	position: absolute;
	right: 0px;
	margin-top: 10px;
}


.toolBar{
	/*與父元素向下對齊*/
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.item{
	height: 33%;
	float: left;
	margin: 10px 0 0 50px;
	font-family: Arial;
	text-align: center;

}

a:-webkit-any-link {
    text-decoration: none;
    cursor: auto;
    color: black;
}

.content{
	width: 100%;
	height: 1040px;
}

.sp{
	width: 100%;
	height: 415px;
	background: #fff;
}
.spPic{
	width: 640px;  /*圖片寬與高*/
	height: 100%;
	float: left;
}
.spBox{
	width: 300px;
	height: 100%;
	background: #292929;
	float: left;
}

.spBoxTitle{
	width: 210px;
	color: #01A5CA;
	padding: 45px 45px 0 45px;
	font-size: 40px;

}
.sbBoxCon{
	width: 210px;
	height: 100px;
	padding: 25px 45px;
	font-size: 18px;
	color: #ABABAB;
	line-height:  28px;
}

.spBoxButton{
	width: 140px;
	height: 40px;
	background: #3F3F3F;
	color:white;
	border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 45px 45px;
}

.information{
	width: 840px;  /*940-60*/
	margin-top: 25px;
	font-size: 17px;
	background: #fff;
	color: black;
	padding:  20px 50px 20px 50px;
	line-height:  35px;
}


.LV{
	width: 100%;
	height: 430px;
	/*1250-130(header)-140(footer)-415-25-145-25=374*/
	margin-top: 25px;
	background: #fff;
}

.lvLeft{
	width:  63%;
	height:  100%;
	float: left;
}


.lvBox{
	width: 550px;	/*639-110*/
	height:  140px;	/*(374-85)/2=144*/
	margin: 0 0 30px 50px;

}

.lvPicBox{
	width: 185px;
	height: 140px;
	float: left;
}


.lvRight{
	width:  37%;   /*940*0.32=300*/
	height:  100%;
	float: left;
}

.searchBut{
	width: 92px;
	height: 15px;
	background: #F4F4F4;
	margin-top: 15px;
	text-align: center;
	border-radius: 5px;
	padding: 15px 0;
}

.footer{
	width: 100%;
	height: 90px;	/*1200*0.1=120*/
	margin: 20px 0;

}

.clear{
	clear: both;
}